<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create card</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/luxonauta/luxa@1.1/dist/expanded/luxa.css"
    />
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <main class="right_half">
      <div>
        <h1>
        Create your DevCard
        </h1>
          <div>
            <form action="/express.js">
              <!--this is the "your full name textbox input"-->
              <label for="fullname"></label>
              <input type="text" id="fullname" name="fullname"><br><br>
              
      
              "About Me"
              <!--this is the "about me textbox input"-->
            
              <label for="aboutme"></label>
              <input type="text" id="aboutme" name="aboutme"><br><br>
              
           
              "Github URL"
              <!--this is the "Github Url"-->
            
              <label for="githubUrl"></label>
              <input type="text" id="githubUrl" name="githubUrl"><br><br>
              
              
              "Twitter URL"
              <!--this is the "twitter url"-->
            
              <label for="twitterUrl"></label>
              <input type="text" id="twitterUrl" name="twitterUrl"><br><br>
              
          
              "Favorite book"
              <!--this is the "favorite book"-->
              
              <label for="favoriteBooks"></label>
              <input type="text" id="favoriteBooks" name="favoriteBooks"><br><br>

          
              "Favourite Artist"
              <!--this is the "fav artist"-->
            
              <label for="favoriteArtists"></label>
              <input type="text" id="favoriteArtists" name="favoriteArtists"><br><br>
              <input type="submit" value="Create Site">
            </form>
          </div>
      </div>
    </main>
  </body>
</html>
